/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4&display=swap');
/* font-family: 'Source Serif 4', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped&display=swap');
/* font-family: 'IBM Plex Sans Thai Looped', sans-serif; */

body {
    margin: 50px;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-size: 150%;
}
.ui-navbar li .ui-btn{
    font-size: 1.25rem;
    font-family: 'Source Serif 4', sans-serif;
}
#site-background{
    padding: 200px;
    height: 50px;
    background-image: url(images/hp_img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
